@import url('https://themes.googleusercontent.com/fonts/css?kit=-lTUqgJg2dxbe4D7B5DEIA3jn2WilaVUapNOYl4762s');
ol{
    margin:0;
    padding:0
}
table td,table th{
    padding:0
}
.c21{
    border-right-style:solid;
    padding:3.6pt 3.6pt 3.6pt 3.6pt;
    border-bottom-color:#ff4444;
    border-top-width:0.5pt;
    border-right-width:0.5pt;
    border-left-color:#ff4444;
    vertical-align:top;
    border-right-color:#ff4444;
    border-left-width:0.5pt;
    border-top-style:solid;
    background-color:#ff4444;
    border-left-style:solid;
    border-bottom-width:0.5pt;
    width:115pt;
    border-top-color:#ff4444;
    border-bottom-style:solid;
	-webkit-print-color-adjust: exact;
}
.c23{
    border-right-style:solid;
    padding:3.6pt 3.6pt 3.6pt 3.6pt;
    border-bottom-color:#ff4444;
    border-top-width:0.5pt;
    border-right-width:0.5pt;
    border-left-color:#ff4444;
    vertical-align:top;
    border-right-color:#ff4444;
    border-left-width:0.5pt;
    border-top-style:solid;
    background-color:#ff4444;
    border-left-style:solid;
    border-bottom-width:0.5pt;
    width:195pt;
    border-top-color:#ff4444;
    border-bottom-style:solid;
	-webkit-print-color-adjust: exact;
}
.c17{
    border-right-style:solid;
    padding:3.6pt 3.6pt 3.6pt 3.6pt;
    border-bottom-color:#ff4444;
    border-top-width:0.5pt;
    border-right-width:0.5pt;
    border-left-color:#ff4444;
    vertical-align:top;
    border-right-color:#ff4444;
    border-left-width:0.5pt;
    border-top-style:solid;
    background-color:#ff4444;
    border-left-style:solid;
    border-bottom-width:0.5pt;
    width:315pt;
    border-top-color:#ff4444;
    border-bottom-style:solid;
	-webkit-print-color-adjust: exact;
}
.c16{
    border-right-style:solid;
    padding:5pt 5pt 5pt 5pt;
    border-bottom-color:#000000;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:top;
    border-right-color:#ffffff;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:70.5pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.c6{
    border-right-style:solid;
    padding:2.9pt 2.9pt 2.9pt 2.9pt;
    border-bottom-color:#666666;
    border-top-width:0.5pt;
    border-right-width:0.5pt;
    border-left-color:#666666;
    vertical-align:top;
    border-right-color:#666666;
    border-left-width:0.5pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:0.5pt;
    width:315pt;
    border-top-color:#666666;
    border-bottom-style:solid;
	overflow-wrap: break-word;
}
.c10{
    border-right-style:solid;
    padding:2.9pt 2.9pt 2.9pt 2.9pt;
    border-bottom-color:#666666;
    border-top-width:0.5pt;
    border-right-width:0.5pt;
    border-left-color:#666666;
    vertical-align:top;
    border-right-color:#666666;
    border-left-width:0.5pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:0.5pt;
    width:195pt;
    border-top-color:#666666;
    border-bottom-style:solid;
	overflow-wrap: break-word;
}
.c3{
    border-right-style:solid;
    padding:2.9pt 2.9pt 2.9pt 2.9pt;
    border-bottom-color:#666666;
    border-top-width:0.5pt;
    border-right-width:0.5pt;
    border-left-color:#666666;
    vertical-align:top;
    border-right-color:#666666;
    border-left-width:0.5pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:0.5pt;
    width:115pt;
    border-top-color:#666666;
    border-bottom-style:solid;
	overflow-wrap: break-word;
}
.c27{
    border-right-style:solid;
    padding:5pt 5pt 5pt 5pt;
    border-bottom-color:#ffffff;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-color:#ffffff;
    vertical-align:top;
    border-right-color:#ffffff;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:447.8pt;
    border-top-color:#ffffff;
    border-bottom-style:solid
}
.c9{
    border-right-style:solid;
    padding:5pt 5pt 5pt 5pt;
    border-bottom-color:#000000;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:top;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:145.9pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.c18{
    border-right-style:solid;
    padding:5pt 5pt 5pt 5pt;
    border-bottom-color:#000000;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:top;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:250pt;
	max-width:290pt;
    border-top-color:#000000;
    border-bottom-style:solid;
	overflow-wrap: break-word;
}
.c11{
    color:#ffffff;
    font-weight:700;
    text-decoration:none;
    vertical-align:baseline;
    font-size:11pt;
    font-family:"Montserrat";
    font-style:normal
}
.c22{
    color:#0b5394;
    font-weight:700;
    text-decoration:none;
    vertical-align:baseline;
    font-size:11pt;
    font-family:"Montserrat";
    font-style:normal
}
.c7{
    color:#000000;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:11pt;
    font-family:"Montserrat";
    font-style:normal
}
.c19{
    color:#ff4444;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:11pt;
    font-family:"Montserrat";
    font-style:normal
}
.c5{
    color:#0b5394;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:11pt;
    font-family:"Montserrat";
    font-style:normal
}
.c0{
    color:#000000;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:10pt;
    font-family:"Montserrat";
    font-style:normal
}
.c2{
    color:#000000;
    text-decoration:none;
    vertical-align:baseline;
    font-size:11pt;
    font-family:"Montserrat";
    font-style:normal;
	overflow-wrap: break-word;
}
.c12{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:left;
	width:210pt;
	overflow-wrap: break-word;
}
.c1{
    padding-top:1pt;
    padding-bottom:1pt;
    line-height:1.0;
    text-align:left;
    /*height:0;*/
	overflow-wrap: break-word;
}
.c15{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.15;
    text-align:left
}
.c24{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.0;
    text-align:center
}
.c8{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.0;
    text-align:left
}
.c14{
    border-spacing:0;
    border-collapse:collapse;
    margin-right:auto
}
.c26{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.0;
    text-align:right
}
.c25{
    background-color:#ffffff;
    max-width:700pt;
    padding:36pt 36pt 36pt 5pt
}
.c20{
    font-weight:400;
    font-family:"Montserrat"
}
.c4{
    height:0pt
}
.c13{
    height:11pt
}
.title{
    padding-top:0pt;
    color:#000000;
    font-size:26pt;
    padding-bottom:3pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
.subtitle{
    padding-top:0pt;
    color:#666666;
    font-size:15pt;
    padding-bottom:16pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
li{
    color:#000000;
    font-size:11pt;
    font-family:"Arial"
}
p{
    margin:0;
    color:#000000;
    font-size:11pt;
    font-family:"Arial"
}
h1{
    padding-top:20pt;
    color:#000000;
    font-size:20pt;
    padding-bottom:6pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h2{
    padding-top:18pt;
    color:#000000;
    font-size:16pt;
    padding-bottom:6pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h3{
    padding-top:16pt;
    color:#434343;
    font-size:14pt;
    padding-bottom:4pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h4{
    padding-top:14pt;
    color:#666666;
    font-size:12pt;
    padding-bottom:4pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h5{
    padding-top:12pt;
    color:#666666;
    font-size:11pt;
    padding-bottom:4pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h6{
    padding-top:12pt;
    color:#666666;
    font-size:11pt;
    padding-bottom:4pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    font-style:italic;
    orphans:2;
    widows:2;
    text-align:left
}

input{
  font-size:11pt;
  font-family:"Montserrat";
}

button{
  background-color: #1287ed;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  padding: 10px 20px;
  font-size:11pt;
  font-family:"Montserrat";
  transition-duration: 0.4s;
}

button:hover {
  background-color: #0b5394;
}

iframe{
  visibility: hidden;
  height: 1px;
}

#forminfo{
	width:290pt;
	max-width:290pt;
}